.head {
   
    width: 96%;
    margin: auto;
    max-width: 1200px;
    .title {
        color: #000;
        text-align: center;
        font-size: 70px;
        font-weight: 900;
        margin-top: 66px;
      }
      .gradient {
        width: 75%;
        height: 511.5px;
        flex-shrink: 0;
        border-radius: 50px;
        position: relative;
        margin: auto;
        margin-top: 126px;
      }
       
  .subtitle {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-top: 160px;
  }
  }

  
 